header{
    background-color: #242423;
    padding: 20px 0;
    text-align: center;
    color: rgb(255, 255, 255); 
      
}
body{
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-cerif;
    background-color: #ffffff;
    color: black;
}
main{
    margin-bottom: 0px;
    text-align: justify;
    padding: 10px;
    height: auto;
    border-left: 2px solid #d9fd54;
    border-right: 2px solid #d9fd54;
}
img{
    padding-bottom: 20px;
    padding-top: 0;
}
h1{
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: 1px 1px 3px #d9fd54;
    font-family: arial;
    font-size: 35px;
}
h2{
    background-color: #d9fd54; 
    text-align: left;
    margin-bottom: 20px;
    margin-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1px;
    font-size: 17px;
}
h3{
    font-size: 17px;
    text-align: left;
}

li{
    background-color: #ffffff;  
    padding: 8px 0;
}
footer{
    
    padding: 10px ;
    font-family: Arial, sans-cerif;
    line-height: 8px;
    background-color: #232423;
    color: #ffffff;
}