header{
    background-color: #232423;
    padding: 20px 0;
    text-align: center;
    color: rgb(255, 255, 255); 
      
}
body{
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-cerif;
    background-color: #ffffff;
    color: black;
}
main{
    margin-bottom: 0px;
    text-align: justify;
    padding: 10px;
    height: auto;
    border-left: 2px solid #d9fd54;
    border-right: 2px solid #d9fd54;
}
img{
    padding-bottom: 20px;
    padding-top: 0;
}
h1{
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: 5px 5px 5px #d9fd54;
}
h2{
    background-color: #d9fd54; 
    text-align: left;
    margin-bottom: 20px;
    margin-top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px;
    font-size: 18px;
}
li{
    background-color: #ffffff;  
    padding: 10px;
}
footer{
    
    padding: 10px ;
    font-family: Arial, sans-cerif;
    line-height: 8px;
    background-color: #232423;
    color: #ffffff;
}