body{
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-cerif;
    background-color: #ffffff;
    color: black;
}

header{
    background-color: #232423;
    padding: 20px 0;
    text-align: center;
    color: rgb(255, 255, 255);    
}
div{
    text-align: justify;
}

h1{
    margin-bottom: 20px;
    margin-top: 20px;
}
h2{
    background-color: #d9fd54; 
    text-align: left;
}

main{
    margin-bottom: 20px;
}

li{
    background-color: #ffffff;  
    padding: 10px;
}

footer{
    margin: 0;
    padding: 15px;
    font-family: Arial, sans-cerif;
    background-color: #232423;
    color: #ffffff;
}